.container{
    background-color: aqua;
    border:2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    height: 85vh;
    grid-template-rows: 1fr 1fr 5fr 1fr 1fr 1fr;
}
.items{
    background-color: bisque;
    border: 2px solid lightgrey;
    margin: 5px;
}